.*
!.gitignore
!.gitmodules
!.gitattributes
!.github
!.github/**
!.zigversion
!build/.zigversion
bin
*.ps1
!tests/installer/test-zero-admin-contract.ps1
!build.ps1
!build/
!build/**/
!build/**/*.ps1
!installer/
!installer/**/
!installer/**/*.ps1
!src/dev.ps1
*.bat
!installer/**/*.bat
*.exe
*.dll
*.pdb
*.log
